h1 {
  text-align: left;
  font-size: 2.27em;
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
}

body, .equinox-blind, .equinox-blind--lower {
  background-color: #FECFA1;
  overflow-y: hidden;
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 300;
}

h1 {
  margin: 40px;
}

.sketch {
  position: relative;
  margin-left: 5em;
}

.equinox-text {
  padding-right: 5px;
}

.equinox-toggle {
  padding-left: 5px;
}

.equinox-toggle {
  border-left: 1px solid gray;
}

.equinox-blind, .equinox-blind--lower {
  color: transparent;
}


.equinox-toggle, .equinox-toggle-listener, .equinox-text, .equinox-blind, .equinox-blind--lower {
  user-select: none;
  font-size: x-large;
}

.arrow-up {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  display: none;
  position: absolute;
  height: 6px;
  width: 6px;
  transform: translate(10px, -10px) rotate(45deg);
}

.arrow-down {
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  display: block;
  height: 6px;
  width: 6px;
  transform: translate(10px, 5px) rotate(-135deg);
}

.highlight-tip {
  display: block;
  border-color: #FFFF99;
  border-width: 3px;
}

.options, .arrows {
  display: inline-block;
}

.arrows {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 15px;
}

@media screen and (max-width: 500px) {
    .sketch {
      margin-left: 1.5em;
    }
  }
